* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #2b2d42;
}

#icons-container {
    width: 300px;
    margin-top: 240px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

label {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.cp-wrapper {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 40px;
}

#color {
    height: 80px;
    width: 80px;
    padding: 0;
    margin: -12px;
    border: none;
    cursor: pointer;
}

#icons-container>button {
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #669bbc;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    box-shadow: #000 0px 2px 8px 0px;}

#icons-container>button:hover,
#icons-container>button:focus {
    background-color: #2488c6;
}

#icons-container>#eraser {
    background-color: #ffba08;
    color: #000;
    font-size: 1.5em;
}

#icons-container>#eraser:hover,
#icons-container>#eraser:focus {
    background-color: #ffba08;
    color: #fff;
}

#icons-container>#clear {
    background-color: #ef233c;
    font-size: 1.5em;
    color: #000;
}

#icons-container>#clear:hover,
#icons-container>#clear:focus {
    background-color: #d90429;
    color: #fff;
}


/*sketch styling*/

#sketch-container {
    height: 700px;
    width: 700px;
    margin-top: 80px;
    background-color: #d90429;
    border-radius: 30px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#sketch-container>header {
    font-size: 2em;
    color: #fff3b0;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    font-family: "fangsong";
}

#sketch {
    width: 85%;
    height: 81.5%;
    background-color: #edf2f4;
    margin: 10px 52.5px 52.5px 52.5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.skbtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
}

.one {
    left: 8px;
    bottom: 5px;
}

.two {
    right: 8px;
    bottom: 5px;
}

#range-container {
    width: 100%;
    margin-top: 110px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 1.1rem;
}

input[type="range"] {
    width: 600px;
    accent-color: #fff3b0;
    position: relative;
    cursor: grabbing;
}

input[type="range"]::before {
    content: "put sqares range:";
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    bottom: 20px;
}

